html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #333333;
  font-weight: 400;
}

.logo {
  background: url("../img/logo-mp.svg") 50% no-repeat;
  width: 180px;
  height: 40px;
  background-size: 100% auto;
}
li.nav-item {
  padding: 0 0.6em;
}
a.nav-link {
  font-size: 18px;
}
.socialmenu {
  width: 30px;
  opacity: 0.7;
}

.hero {
  /* background-image: url("../img/background-moval-print.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #93cacd;
  width: 100%;
  height: 98vh;
  vertical-align: middle;
}

.hero-services-graphic-design {
  background-image: url("../img/service-graphic-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.hero-services-graphic-design h1,
.hero-services-printing h1,
.hero-services-sings h1,
.hero-services-marketing h1 {
  color: aliceblue;
  font-size: 52px;
}
.hero-services-printing {
  background-image: url("../img/service-printing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.hero-services-sings {
  background-image: url("../img/service-sings.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero-services-marketing {
  background-image: url("../img/service-marketing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero h2 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.hero h2,
.hero h3 {
  padding-bottom: 2em;
}
.pad {
  margin-left: 2em;
}
.padtwo {
  margin-left: 4em;
}
.hero h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.hero p {
  font-size: 17px;
  width: 70%;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.hero .person {
  margin-top: 78px;
  width: 400px;
}
.blackshadow {
  color: #ffffff;
  text-shadow: #333333 1px 1px 2px;
}
@media (max-width: 992px) {
  .hero h2.one {
    margin-top: 90px;
  }
}
@media (max-width: 768px) {
  .hero .person {
    margin: 0 auto;
  }
  .hero h2,
  .hero h3 {
    padding-bottom: 0;
  }
  .hero .pad,
  .hero .padtwo {
    margin-left: 0;
  }
}
@media (max-width: 576px) {
  .hero .person {
    width: 200px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero h3 {
    font-size: 18px;
  }

  .hero p {
    font-size: 14px;
    line-height: 18px;
    width: 100%;
  }
}
@media (max-width: 414px) {
  .hero .person {
    width: 315px;
  }
}

@media (max-width: 375px) {
  .hero .person {
    width: 265px;
  }
}
@media (max-width: 375px) and (max-height: 812px) {
  .hero .person {
    width: 320px;
    margin-top: 65px;
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .hero .person {
    width: 250px;
    margin-top: 25px;
  }
}

@media (max-width: 360px) {
  .hero .person {
    width: 248px;
    margin-top: 0;
  }
}
@media (max-width: 320px) {
  .hero .person {
    width: 170px;
  }
}

hr {
  width: 80%;
  border: 1px solid #333333;
  margin-bottom: 2em;
}

.somos h3 {
  font-size: 24px;
  font-weight: 600;
}
.somos p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6rem;
}
.somos span {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}
section {
  margin-bottom: 4em;
}
.advertisement {
  background-image: url("../img/recursonaranja.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #ff7227;
  color: #ffffff;
}
.advertisement h3 {
  font-size: 24px;
  font-weight: 600;
  padding: 1em 0;
}
.advertisement p {
  font-size: 17px;
  font-weight: 400;
  padding: 1em 0;
}

.btn-home {
  background-color: #ffffff;
  color: #333333;
  border-radius: 16px;
}
.btn-home:hover {
  background-color: #333333;
  color: #ffffff;
}
.btn-hometwo {
  color: #ffffff;
  background-color: #ff7022;
  border-radius: 16px;
}
footer {
  background-color: #1d1d1b;
  color: #ffffff;
  padding-top: 2em;
}

.card h5 {
  font-size: 24px;
  text-align: center;
  color: #333333;
  font-weight: 500;
}
.card-footer {
  background-color: #ffffff;
}
.hero-service {
  background-image: url(../img/naranja.png);
  background-repeat: no-repeat;
  padding: 2em;
  background-position: center;
  color: #ffffff;
  font-weight: 200;
  background-size: cover;
}
.hero-service h3 {
  font-size: 30px;
}
.hero-service p {
  font-size: 20px;
}
.digital-marketing li {
  list-style: none;
  font-size: 20px;
  font-weight: 200;
}
.graphic-design p,
.printing p,
.signs p,
.digital-marketing p {
  font-size: 20px;
  font-weight: 200;
}
.graphic-design h3,
.printing h3,
.signs h3,
.digital-marketing h3 {
  font-weight: 200;
  font-size: 30px;
}
button.navbar-toggler {
  margin: 0 auto;
}
@media (max-width: 767px) {
  footer button {
    margin-top: 0.8rem !important;
  }
  .digital-marketing .btn-hometwo {
    margin-bottom: 2em;
  }
}
footer {
  margin-top: 0;
}
.contactus h4 {
  font-weight: 600;
  font-size: 20px;
}
.contactus h3 {
  font-size: 24px;
  font-weight: 600;
}

.navbar {
  background-color: #ffffff;
}
.services .btn-home {
  border: 1px solid #333333;
}

.ancla:before {
  display: block;
  content: " ";
  margin-top: -95px;
  height: 95px;
  visibility: hidden;
}
.modal-content.about {
  background-image: url("../img/bg-modal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  border: 2px solid #ff7022;
}
.modal-content h5 {
  font-size: 30px;
}
.modal-header {
  border-bottom: 0;
}
.close {
  color: #ffffff;
}

/* CSS Whatsapp Chat */
#whatsapp-chat {
  position: fixed;
  background: #fff;
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
  bottom: 90px;
  right: 10px;
  overflow: hidden;
  z-index: 99;
  animation-name: showchat;
  animation-duration: 0.02s;
  transform: scale(1);
}

a.blantershow-chat {
  /*   background: #009688; */
  background: #fff;
  color: #404040;
  position: fixed;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  z-index: 98;
  bottom: 25px;
  right: 30px;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
}

a.blantershow-chat svg {
  transform: scale(1.2);
  margin: 0 10px 0 0;
}

.header-chat {
  background: #095e54;
  color: #fff;
  padding: 8px;
}

.header-chat h3 {
  margin: 0 0 10px;
  font-size: 20px;
}

.header-chat p {
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}

.info-chat span {
  display: block;
}

#get-label,
span.chat-label {
  font-size: 12px;
  color: #888;
}

#get-nama,
span.chat-nama {
  margin: 5px 0 0;
  font-size: 15px;
  font-weight: 700;
  color: #222;
}

#get-label,
#get-nama {
  color: #fff;
}

span.my-number {
  display: none;
}

.blanter-msg {
  color: #444;
  padding: 20px;
  font-size: 12.5px;
  text-align: center;
  border-top: 1px solid #ddd;
}

textarea#chat-input {
  border: none;
  font-family: "Arial", sans-serif;
  width: 100%;
  height: 20px;
  outline: none;
  resize: none;
}

a#send-it {
  color: #555;
  margin: -5px 0 0 5px;
  font-weight: 700;
  padding: 8px;
  background: #eee;
  border-radius: 10px;
}

.first-msg {
  background: #f5f5f5;
  padding: 30px;
  text-align: center;
}

.first-msg span {
  background: #e2e2e2;
  color: #333;
  font-size: 14.2px;
  line-height: 1.7;
  border-radius: 10px;
  padding: 15px 20px;
  display: inline-block;
}

.start-chat .blanter-msg {
  display: flex;
}

#get-number {
  display: none;
}

a.close-chat {
  position: absolute;
  top: -14px;
  right: 0px;
  color: #fff;
  font-size: 30px;
}

@keyframes showhide {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes showchat {
  from {
    transform: scale(0);
    opacity: 0;
  }
}

@media screen and (max-width: 480px) {
  #whatsapp-chat {
    width: auto;
    right: 10px;
    font-size: 80%;
  }
}

#whatsapp-chat.hide {
  display: none;
  animation-name: showhide;
  animation-duration: 0.5s;
  transform: scale(1);
  opacity: 1;
}

#whatsapp-chat.show {
  display: block;
  animation-name: showhide;
  animation-duration: 0.5s;
  transform: scale(1);
  opacity: 1;
}
